:root {
  --whiteish: #e5e5e5;
  --backgroundSize: 300px;
  --bposx: 0;
  --bposy: 0;
}
body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-family: 'Pacifico', Georgia, Times, 'Times New Roman', serif;
  background-image: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);
  background-size: var(--backgroundSize);
  background-position: var(--bposx) var(--bposy);
  color: var(--whiteish);
  display: grid;
  place-items: center;
}

video {
  position: fixed;
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.2);
}
